<div class="row g-4">
    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-12 mb-2">
                <button class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#itemModal">
                    <i class="bi bi-plus-lg"></i> Add Trigger
                </button>
            </div>
        </div>

        <hr>

        <div class="row g-4" id="dashboardGrid">
            {{#each trigger}}
            <div class="col-6 col-md-3 col-lg-2 dashboard-card" id="{{this.id}}" data-title="{{this.title}}"
                data-script="{{this.script}}">
                <div class="card text-center h-100 border-0 shadow-sm bg-secondary">
                    <div class="card-body">
                        <h6 class="mt-3 text-light">{{this.title}}</h6>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col-12 col-lg-4 border-separator d-none d-lg-block d-xl-block d-xxl-block">
        <h3 class="text-primary">Info</h3>
        <p>This is trigger page. You can write JavaScripts and Run it by using right click menu and then click "Run Trigger".</p>
        <p>This feature using eval to your script input to run the script.</p>
    </div>
</div>

<!-- Modal Tambah/Edit -->
<div class="modal fade" id="itemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="itemForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add / Edit Trigger</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="editIndex">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Script</label>
                    <textarea class="form-control" id="scriptInput" rows="12"
                        placeholder="Write your scripts here..."></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Context Menu -->
<div id="contextMenu" class="dropdown-menu shadow">
    <button class="dropdown-item" id="trigger-run">Run Trigger</button>
    <div class="dropdown-divider"></div>
    <button class="dropdown-item" id="trigger-edit">Edit</button>
    <button class="dropdown-item text-danger" id="trigger-delete">Delete</button>
</div>

<script>
    $(document).ready(function () {
        let $currentCard = null;

        // Klik kanan pada card
        $(document).on("contextmenu", ".dashboard-card", function (e) {
            e.preventDefault();
            $currentCard = $(this);

            $("#contextMenu")
                .css({ top: e.pageY, left: e.pageX })
                .show();
        });

        // Klik di luar -> tutup menu
        $(document).click(function () {
            $("#contextMenu").hide();
        });

        $("#trigger-edit").click(function () {
            $("#titleInput").val($currentCard.attr("data-title"));
            $("#scriptInput").val(decodeURIComponent($currentCard.attr("data-script")));
            $("#itemModal").modal("show");
        });
        $("#trigger-run").click(function (){
            try{
                const scr = decodeURIComponent($currentCard.attr("data-script"));
                eval(scr);
            } catch (err) {
                console.log(err)
            }
        })
        $(".dashboard-card").click(function (){
            const $currentCard1 = $(this);
            try{
                
                const scr = decodeURIComponent($currentCard1.attr("data-script"));
                eval(scr);
            } catch (err) {
                console.log(err)
            }
        })

        $("#trigger-delete").click(async function () {
            $currentCard.remove();
            $currentCard = null;
            await saveTriggersToServer();
        });

        // Tombol Tambah → selalu reset ke mode Add
        $("[data-bs-target='#itemModal']").on("click", function () {
            $currentCard = null;
            $("#itemForm")[0].reset();
        });
        // Tambah/Edit Submit
        $("#itemForm").on("submit", async function (e) {
            e.preventDefault();
            const id = "no-id";//"launcher-" + Date.now();
            console.log(id)
            const title = $("#titleInput").val();
            const script = $("#scriptInput").val();
            console.log(script)

            if ($currentCard) {
                // Edit existing card.
                //alert('sdsdfd ' + title)
                $currentCard.attr("data-title", title);
                $currentCard.attr("data-script", encodeURIComponent(script));
            } else {
                // Add new card
                const newCard = $(`
                    <div class="col-6 col-md-3 col-lg-2 dashboard-card" id="${id}" data-title="${title}" data-script="${encodeURIComponent(script)}">
                        <div class="card text-center h-100 border-0 shadow-sm bg-secondary">
                            <div class="card-body">
                                <h6 class="mt-3 text-light">${title}</h6>
                            </div>
                        </div>
                    </div>
                `);
                $("#dashboardGrid").append(newCard);
            }

            //$("#itemForm")[0].reset();
            $("#itemModal").modal("hide");
            //$currentCard = null;

            await saveTriggersToServer()
        });
    })

    async function saveTriggersToServer() {
        const trigger = [];
        let countedId = 0;
        $(".dashboard-card").each(function () {
            //alert($(this).data("title"))
            console.log(countedId)
            trigger.push({
                id: countedId.toString(),
                title: $(this).data("title"),
                script: $(this).data("script")
            });
            ++countedId;
        });

        console.log(trigger)
        fetch("/triggers/save", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ trigger })
        })
            .then(res => res.json())
            .then(data => {
                console.log("Data stored:", data);
                window.location.reload();
            })
            .catch(err => {
                console.error("Failed to save:", err);
            });
    }
</script>
